body
{ background-image:url(gatitos.jpg);
}
.hola{
font-size:70px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:bisque;
background-color:burlywood
}
.uwu {
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:burlywood;
}
.skz {
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:khaki;
}
.wd {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}
.charala {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: lemonchiffon;
}

  



    
